body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#size {
  width: 50px;
  text-align: center;
}

#size-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#size-menu span {
  padding-right: 10px;
}

#maze {
  border: 1px solid #444;
}

.menu {
  justify-content: center;
  padding: 0 10px;
}

.menu .node-selectors {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .node-selectors span {
  padding-bottom: 5px;
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  margin: 20px 0;
}

.blurb h1 {
  text-align: center;
  margin-top: 0;
}

.blurb__node {
  display: flex;
  align-items: center;
}

.blurb__node__box {
  width: 25;
  height: 25;
  margin-right: 10px;
}

.blurb__node__box--open {
  background-color: #2bd1fc;
}

.blurb__node__box--closed {
  background-color: #ff48c4;
}

.blurb__node__box--start {
  background-color: #32ea1f99;
}

.blurb__node__box--end {
  background-color: #ffa826;
}

.blurb__node__box--wall {
  background-color: #444;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#start {
  width: 100%;
  height: 50px;
  font-size: 2em;
}